{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="home">
        <h1> Welcome to my Iphone_Store</h1>
    </div>

    <div class="fister">
         <div class="lefter">
             <a href="{% url 'home' %}">back to Home</a>
             <a href="{% url 'client_list' %}">Client_List</a>
             <a href="{% url 'moratoire_list' %}">Moratoire_List</a>
             <a href="{% url 'versement_list' %}">Client_Versement</a>


             <a href="{% url 'iphone_add' %}" class="sep_deb">New_Iphone</a>
             <a href="{% url 'client_add' %}">New_Client</a>
             <a href="{% url 'moratoire_add' %}" >New_Moratoire</a>
             <a href="{% url 'versement_add' %}" class="sep_fin">New_Versement</a>
         </div>
         <div class="righter">
             <a href="{% url 'register' %}">Register</a>
             <a href="{% url 'logout_user' %}" id="active">Logout</a>
         </div>
     </div>
    <div class="annuler"></div>
    <table class="tab-home">
      <caption>Liste des client</caption>

      <tr>
         <th>prenom</th>
         <th>nome</th>
         <th>tel</th>
         <th>adresse</th>
         <th>modele</th>
         <th>quantity</th>
         <th>Montant</th>
         <th>Date Achat</th>
         <th>Action</th>
      </tr>
       {% for cl in clients %}
      <tr class="impaire">
         <td>{{ cl.prenom }}</td>
         <td>{{ cl.nom }}</td>
         <td>{{ cl.tel}}</td>
         <td>{{ cl.adresse }}</td>
         <td>{{ cl.iphone.model }}{{ cl.iphone.category }}/{{ cl.iphone.taille }}</td>
         <td>{{ cl.quantity }}</td>
         <td>{{ cl.montant }}</td>
         <td>{{ cl.date_achat }}</td>
         <td>
             <a href=" {% url 'client_update' cl.id %} ">Modifier</a>
             <a href=" {% url 'client_detail' cl.id %} ">Voir</a>
         </td>
      </tr>
       {% endfor %}

   </table>
</div>

{% endblock %}