{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="container">
       <div class="header_title">
            <h1 id="title">Welcome to my Iphone_Store</h1>
            <p id="description"><a href="{% url 'versement_list' %}">Annuler</a></p>
       </div>
      {% if info_stock %}
         <h3 class="error_data">
             <span class="">{{ info_stock | safe }}</span>
         </h3>
       {% endif %}

       <form id="survey-form" method="POST">
           {% csrf_token %}
           <div class="row">
              {{ form }}
           </div>
           <button id="submit" class="champs-input">Modifier</button>
       </form>

</div>
{% endblock %}