{% load static %}

:root{
    --couleur-blatre: rgba(66, 66, 87,0.6);
    --couleur-blachatre:  rgba(255,255,255,0.9);
    --couleur-green:

}
body
{
    background-color: #1e1e2f;
    margin: 0;
    padding: 0;

}
#container{
    width: 41%;
    margin: 100px auto;
    color: var(--couleur-blachatre);
    padding: 30px;

}
.header_title{
            text-align: center;
            font-style: italic;
}
#title{
    margin-bottom: 0;
}
#description{
    font-size: 1.2em;

}
#description a{
    color: red;
    font-size: 1.2em;
    text-style: none;
    text-decoration: none;
}
#survey-form{
    margin-top: 45px;
    padding: 40px;
    background-color:  var(--couleur-blatre,#f1f1f1);
    box-shadow: 10px 10px transparent;/* 2 ou 4 valeurs*/
    border-radius: 10px;
        font-size: 1.2em;

}
label{
    display: block;
    width: 100%;
    font-size: large;
    font-weight: 700;
    margin-bottom: 5px;
}

.champs-input{
    width: 93%;
    padding: 10px;
    margin-bottom: 10px;

}
.choix{
    margin-top: 20px;
    margin-bottom: 30px;
    vertical-align: top;


}
.choice{
    margin-top: 20px;
    margin-bottom: 30px;


}
input[type='radio']{
    width: 22px;
    height: 20px;
    vertical-align: text-top;


}
.dropdown{
    width: 98%;
    padding: 10px;
    font-size: 0.9em;

}

input[type='checkbox']{
    width: 18px;
    height: 18px;
    vertical-align: text-top;


}

#texte{
    padding: 20px;
}
#submit{
    width: 99%;
    padding: 20px;
    margin-top: 10px;
    color: var(--couleur-blachatre);
    background-color: #e14eca;
    font-size: 1.1em;
    font-weight: 700;
}
.reg{
    color: white;
}
.error_data{
    color: red;
}


/* Home ***************************************/
h1{
    text-align: center;
    margin-top: 50px;
}
 h2{
    cursor:pointer;
    text-align: center;

}

.home h2 a{
    color: #fc0;
}
.info{
    margin-left: 20px;
}
.info p:first-child{
    color: #fc0;
    font-size: 20px;
    font-weight: bold;


}
.delete{
     with: 500px;
     padding: 10px;
     margin: 140px auto;
     text-align: center;
     color: #fc0;
}
.delete h1{
    font-size: 32px;
}

.delete input, .delete a{
    width: 150px;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    outline : solide;
    background-color: red;
    padding: 10px;
    cursor: pointer;
}

.delete a{
    background-color: #060;

}

.delete input:hover, .delete a:hover{
    color: #fc0;
    transform: scale(0.9);
    transition: all 0.5s;
}


.delete p{
    font-size: 22px;
    margin-bottom: 40px;
}


.detail {
    with: 700px;
    padding: 10px;
    background-color: white;
    margin: 140px auto;
    text-align: center;
}
.detail h1{
    font-size: 37px;
}
.detail-style {
    font-size: 25px;
}
.fister{
    padding: 30px 0px 40px 0px;
    background-color: #060;
    margin-bottom: 20px;
    margin: 25px 10px;
}


.fister a {
    color: white;
    font-size: 1.1;
    font-weight: bold;
}

.lefter {
    float: left;
    margin-left: 20px;
}

.sep_deb{
    border-left: 20px solid #fc0;
    padding-left: 10px;
}
.sep_fin{
    border-right: 20px solid #fc0;
    padding-right: 10px;

}

.fister a:hover {
    color:  #fc0;
    text-decoration: underline;
}

#active {
    color: #fc0;
    font-weight: bold;
    font-size: 18px;
}

.righter {
    float: right;
    margin-right: 20px;
}

.lefter a:nth-child(n+2),
.righter a {
    margin-left: 20px;
}
.annuler {
    clear: both;
}

a {
    text-decoration: none;
    display: inline-block;
}

.home{
     color: white;
     margin-bottom: 20px;

}

.tab-home{
    bordel-collapse: collapse;
    width:100%;
    margin: 0;
    padding: 10px;
}
.tab-home caption{
    color: #fc0;
    text-transform:full-size-kana;
    padding-bottom:3px;
    font-size: 20px;
    font-weight: bold;
}

.tab-home th{
    background-color: #060;
    padding:12px;
    color:white;
    text-transform:uppercase;
}

.tab-home td{
    padding:15px:
    text-align:center;
    border: 1px solid #060;
    text-align:center;
}

.impaire{
     background-color: #cf6;
}
.impaire a{
        font-weight: bold;
        color: #1e1e2f;
}
.paire{
     background-color: #3f0;
}

/*
 tr:nth-chield(2n +1 ):
*/




