{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
        <div class="home">
          <h1> Welcome to my Iphone_Store</h1>
      </div>

     <div class="fister">
         <div class="lefter">
             <a href="{% url 'home' %}">back to Home</a>
             <a href="{% url 'client_list' %}">Client_List</a>
             <a href="{% url 'versement_list' %}">Client_Versement</a>


             <a href="{% url 'iphone_add' %}" class="sep_deb">New_Iphone</a>
             <a href="{% url 'client_add' %}">New_Client</a>
             <a href="{% url 'moratoire_add' %}" >New_Moratoire</a>
             <a href="{% url 'versement_add' %}" class="sep_fin">New_Versement</a>
         </div>
         <div class="righter">
             <a href="{% url 'register' %}">Register</a>
             <a href="{% url 'logout_user' %}" id="active">Logout</a>
         </div>
     </div>
     <div class="annuler"></div>
   <table class="tab-home">
      <caption>Liste clients Moratoire</caption>

      <tr>
         <th>prenom</th>
         <th>nome</th>
         <th>tel</th>
         <th>adresse</th>
         <th>model-model</th>
         <th>Stock</th>
         <th>Quantity</th>
         <th>Prix tel</th>
         <th>Avance</th>
         <th>Restant</th>
         <th>Date Achat</th>
         <th colspan="4">Action</th>
      </tr>
      {% for m in clients %}
      <tr class="impaire">
         <td>{{ m.prenom }}</td>
         <td>{{ m.nom }}</td>
         <td>{{ m.tel}}</td>
         <td>{{ m.adresse }}</td>
         <td>{{ m.iphone.model}}-{{m.iphone.category}}/{{ m.iphone.taille}}</td>
         <td>{{ m.iphone.stock }}</td>
         <td>{{ m.quantity }}</td>
         <td>{{ m.montant }}</td>
         <td>{{ m.avance }}</td>
         <td>{{ m.restant }}</td>
         <td>{{ m.date }}</td>
         <td class="action-td">
             <td><a href="{% url 'moratoire_update' m.id %}">Modifier</a></td>
             <td><a href="{% url 'moratoire_delete' m.id %}">Delete</a></td>
             <td><a href="{% url 'moratoire_detail' m.id %}">Voir</a></td>
         </td>
      </tr>
       {% endfor %}

   </table>
</div>

{% endblock %}