<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
    <title>{% block modal-title %} Iphone Store {% endblock modal-title %}</title>
</head>
<body>
    <!-- Block content root -->
    {% block content %} {% endblock %}


    {% block javascripts %}{% endblock javascripts %}
</body>

</html>
