{% extends 'base.html' %}
{% load static %}

{% block content %}
 <div class="container">
      <div class="home">
          <h1> Welcome to my iPhone_Store</h1>
          <h2><a href="{% url 'home' %}">Home</a></h2>
          <div class="info">
              <p>Info live : </p>
                  <p class="sep_deb">client(s) : {{ clients.count }} </p>
                  <p class="sep_deb">client(s) moratoires : {{ mora.count }}</p>
                  <p class="sep_deb">
                      rupture de stock ({{stock.count}}) :
                      {% for st in stock %}
                        <span>
                            {{ st.model }}
                            {{ st.category }}
                            {{ st.taille }} <=>
                        </span>
                      {% endfor %}
                  </p>

          </div>
      </div>

     <div class="fister">
         <div class="lefter">
             <a href="{% url 'client_list' %}">Client_List</a>
             <a href="{% url 'moratoire_list' %}">Moratoire_List</a>
             <a href="{% url 'versement_list' %}">Client_Versement</a>


             <a href="{% url 'iphone_add' %}" class="sep_deb">New_Iphone</a>
             <a href="{% url 'client_add' %}">New_Client</a>
             <a href="{% url 'moratoire_add' %}" >New_Moratoire</a>
             <a href="{% url 'versement_add' %}" class="sep_fin">New_Versement</a>
         </div>
         <div class="righter">
             <a href="{% url 'register' %}">Register</a>
             <a href="{% url 'logout_user' %}" id="active">Logout</a>
         </div>
     </div>
     <div class="annuler"></div>
     <table class="tab-home">
         <thead>
            <caption>Iphones: Model et prix marcher</caption>
            <tr>
             <th>Ime</th>
             <th>Model</th>
             <th>Category</th>
             <th>Capacite</th>
             <th>Stock</th>
             <th>Prix Acquisition</th>
             <th>Prix Marcher</th>
             <th>Date Acquisition</th>
             <th>Action</th>
         </tr>
         </thead>
         <tbody>
           {% for p in iphones %}
            <tr class="impaire">
                 <td>{{ p.ime }}</td>
                 <td>{{ p.model }}</td>
                 <td>{{ p.category }}</td>
                 <td>{{ p.taille }}</td>
                 <td>{{ p.stock }}</td>
                 <td>{{ p.price_acquisition }}</td>
                 <td>{{ p.price_marcher }}</td>
                 <td>{{ p.date_acquisition }}</td>
                 <td>
                    <a href="{% url 'iphone_update' p.id %}">Modifier</a>
                 </td>
              </tr>
           {% endfor %}
         </tbody>

     </table>
 </div>



{% endblock %}